<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Photographer | Michael Zelenyuk (About)</title>
	<meta name="description" content="Photographer's business card website" />
	<meta name="keywords" content="photography, effects, gallery" />
	<meta name="author" content="Michael Zelenyuk" />
	<link rel="shortcut icon" href="../images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../css/flickity.css" />
	<link rel="stylesheet" type="text/css" href="../css/main.css" />
	<script src="../js/modernizr.custom.js"></script>
</head>
<body>
	<div class="container">
		<div class="hero">
			<div class="hero__back hero__back--static"></div>
			<div class="hero__back hero__back--mover"></div>
			<div class="hero__front"></div>
		</div>
		<header class="codrops-header">
			<h1 class="codrops-title">Michael Zelenyuk <span>Photographer</span></h1>
			<nav class="menu">
				<a class="menu__item menu__item--current" href="about.html"><span>About</span></a>
				<a class="menu__item" href="../index.html"><span>Work</span></a>
				<a class="menu__item" href="contact.html"><span>Contact</span></a>
			</nav>
		</header>
		<div class="stack-slider" style="top: -40%;">
            <div class="info">
                <h2>Some interesting information about me.</h2>
                <h1>:)</h1>
            </div>
			<div class="stacks-wrapper" style="height: 0%;"></div>
		</div>
	</div>
	<script src="../js/flickity.pkgd.min.js"></script>
	<script src="../js/smoothscroll.js"></script>
	<script src="../js/main.js"></script>
</body>
</html>